html{
    font-size: 62.5%;
}
body{
    font-family: "Inter", sans-serif;
    background-color:hsl(0, 0%, 8%) ;
}
main{
    margin: 20px;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}
.avatar{
    margin-top: 20px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.name{
    color: hsl(0, 0%, 100%);
    font-size: 2.5rem;
    margin-bottom: 0;
}
.place{
    color: hsl(75, 94%, 57%);
    font-size: 1.5rem;
}
.description{
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
}
.list{
    list-style: none;
    padding:0;
    width: 100%;
    }
.items{
    font-size: 1.4rem;
    background: hsl(0, 0%, 20%);
    border-radius: .7rem;
    margin:2rem;
    color: white;
    text-align: center;
    padding:1.5rem;
    font-weight: 600;
    transition: background-color .3s , color .3s;
}

.items:hover{
    background-color: hsl(75, 94%, 57%);
    color:  hsl(0, 0%, 8%);
    cursor: pointer;
}

@media screen and (min-width:375px){
    main{
        max-width: 350px;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}












/* ## Colors

- Green: hsl(75, 94%, 57%)

- White: hsl(0, 0%, 100%)

- Grey 700: hsl(0, 0%, 20%)
- Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%) */

/* ### Body Copy

- Font size (paragraph): 14px */
